@use '../../styles/variables' as *;

.bgImage {
  z-index: -1;
}
.bgContainer {
  position: relative;
  height: inherit;
}
.mainContent {
  position: absolute;
  top: 40%;
  right: 50%;
  transform: translateX(50%);
}
.bgGradient {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right bottom,
    rgba($primary-color-lighter, 0.85),
    rgba($primary-color-darker, 0.85)
  );
  z-index: 0;
  position: absolute;
}
