$primary-color: #55c57a;
$primary-color-darker: #28b485;
$primary-color-lighter: #7ed56f;

$white: #fff;
$black: #000;
$gray-dark: #777;

.logo {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}
.bgImage {
  z-index: -1;
}

.bgGradient {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right bottom,
    rgba($primary-color, 0.8),
    rgba($primary-color-darker, 0.8)
  );
  z-index: 0;
  position: absolute;
}

.textBox {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
}

.headingPrimary {
  color: $white;
  letter-spacing: 1rem;

  &Main {
    display: block;
    font-size: 7.2rem;
    font-weight: 500;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* backface-visibility: hidden; if animation shakes */
  }

  &Sub {
    display: block;
    font-size: 3.2rem;
    animation: moveInRight ease-out 1s;
    margin-bottom: 1.5rem;
  }
}

.btn {
  &:link,
  &:visited {
    display: inline-block;
    color: $gray-dark;

    background-color: $white;
    text-decoration: none;
    border-radius: 10rem;
    padding: 1.6rem 3.8rem;

    transition: all 0.2s;
    position: relative;

    animation: moveInBottom 0.8s ease-out 0.8s;
    /* Apply the 0% animation status from the start */
    animation-fill-mode: backwards;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba($black, 0.2);

    &::after {
      /* animation-name: pulse;
      animation-duration: 4s; */
      transform: scaleX(1.2) scaleY(1.4);
      opacity: 0;
      background-color: rgba($gray-dark, 0.25);
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 15px rgba($black, 0.2);
  }

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: $white;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 10rem;
    transition: all 0.4s ease-in-out;
  }
}

@keyframes moveInRight {
  0% {
    transform: translateX(50%);
  }

  80% {
    transform: translateX(-15%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    transform: translateX(-50%);
  }

  80% {
    transform: translateX(15%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  from {
    opacity: 0;
    transform: translateY(5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* @keyframes pulse {
  0% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0);
  }
} */
