$primary-color: #55c57a;
$primary-color-darker: #28b485;
$primary-color-lighter: #7ed56f;

$white: #fff;
$black: #000;
$color-gray-dark: #777;

$color-orange-light: #ffb900;
$color-orange-dark: #ff7730;

$row-width: 124rem;
$gutter-margin: 6rem;
