@use './variables' as *;
@use './mixins' as *;
@use './utilites' as u;

.container {
  padding: 2rem;
}

.header {
  height: 95vh;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.row {
  max-width: $row-width;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: 6rem;
  }

  @include clearfix;

  // [class*='colOne'] {
  //   background-color: $primary-color-darker;
  //   height: 5rem;
  //   float: left;
  //   &:not(:last-child) {
  //     margin-right: $gutter-margin;
  //   }
  // }

  %col-placeholder {
    float: left;
    &:not(:last-child) {
      margin-right: $gutter-margin;
    }
  }

  .colOneOfTwo {
    @extend %col-placeholder;
    width: calc((100% - #{$gutter-margin}) / 2);
  }

  .colOneOfThree {
    @extend %col-placeholder;
    width: calc((100% - 2 * #{$gutter-margin}) / 3);
  }
  .colOneOfFour {
    @extend %col-placeholder;
    width: calc((100% - 3 * #{$gutter-margin}) / 4);
  }
}

.sectionTours {
  @include u.centerText;
  margin-top: -20vh;
  padding: 30rem 0 45rem 0;
  background-color: rgb(245, 245, 245);

  &_Title {
    display: inline-block;
    margin-bottom: 7.5rem;
    font-size: 4rem;
    color: transparent;
    text-transform: uppercase;
    background-image: linear-gradient(
      to right,
      darken($primary-color-lighter, 10%),
      $primary-color-darker
    );
    background-clip: text;
    transition: all 0.3s;

    &:hover {
      transform: skew(15deg, 3deg) scale(1.1);
    }
  }

  &_LeftContent {
    text-align: left;

    h3 {
      text-transform: uppercase;
      font-size: 2rem;
    }

    p {
      margin-bottom: 2.5rem;
    }
  }

  &_btn {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 1.8rem;
      font-weight: 600;
      color: $primary-color;
      border-bottom: 0.2rem solid;
      padding: 0.5rem;
      transition: all 0.3s;

      &:hover {
        background-color: $primary-color;
        color: $white;
        border-color: $primary-color;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
        transform: translateY(-3px);
      }

      &:active {
        transform: translateY(-1px);
        box-shadow: 0 0.7rem 1.2rem rgba(0, 0, 0, 0.15);
      }
    }
  }

  &_imgContainer {
    position: relative;

    [class*='img'] {
      width: 67%;
      transition: all 0.4s;
      position: absolute;
      z-index: 0;

      &:hover {
        outline: 1.4rem solid $primary-color;
        outline-offset: 1.8rem;
        box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.15);
        transform: scale(1.05) translateY(-3px);
        z-index: 1;
      }
    }

    &:hover [class*='img']:not(:hover) {
      transform: scale(0.95);
    }

    .imgOne {
      top: 0;
      left: 0;
    }
    .imgTwo {
      top: 6rem;
      right: -13rem;
    }
    .imgThree {
      top: 16rem;
      right: 10rem;
    }
  }
}

.featureCard {
  @include u.centerText;
  background-color: rgba($white, 0.8);
  border-radius: 1rem;
  box-shadow: 0 1.5rem 4.5rem rgba(0, 0, 0, 0.15);
  padding: 1rem;
  width: 25rem;
  height: 30rem;
  transition: all 0.5s;

  h3 {
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  &:hover {
    transform: translateY(-1rem) scale(1.01);
    box-shadow: 0 2rem 3.5rem rgba(0, 0, 0, 0.15);
  }
}

.features {
  height: 75vh;
  margin-top: -11rem;
  transform: skewY(-5deg);

  .row {
    transform: skewY(5deg);
  }

  // & > * {
  //   transform: skewY(7deg);
  // }
}

.icon {
  padding: 3rem 0 1.5rem 0;

  //   background-image: linear-gradient(
  //     to right,
  //     $primary-color-lighter,
  //     $primary-color-darker
  //   );
  //   display: inline-block;
  //   background-clip: ;
  //   path {
  //     stroke: transparent;
  //   }
}

.sectionPopularTours {
  @include u.centerText;
  background-color: rgb(245, 245, 245);
  padding: 30rem 0 50rem 0;
  margin-top: -11rem;
}

.flipCard {
  height: 50rem;
  position: relative;
  perspective: 150rem;

  &_Content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.9s ease;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba($black, 0.15);
    border-radius: 5px;
    overflow: hidden;

    &_Front {
    }
    &_Back {
      background-color: green;
      transform: rotateY(180deg);
    }

    &_Image {
      position: relative;
      height: 40%;
      background-image: linear-gradient(
        to right bottom,
        $color-orange-light,
        $color-orange-dark
      );
      & img {
        mix-blend-mode: screen;
      }
    }
  }

  &:hover &_Content_Front {
    transform: rotateY(-180deg);
  }
  &:hover &_Content_Back {
    transform: rotateY(0);
  }
}
