@use './mixins' as *;
@use './utilites' as u;
@import './variables';

.container {
  padding: 2rem;
}

.header {
  height: 95vh;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.row {
  max-width: $row-width;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: 6rem;
  }

  @include clearfix;

  // [class*='colOne'] {
  //   background-color: $primary-color-darker;
  //   height: 5rem;
  //   float: left;
  //   &:not(:last-child) {
  //     margin-right: $gutter-margin;
  //   }
  // }

  %col-placeholder {
    float: left;
    &:not(:last-child) {
      margin-right: $gutter-margin;
    }
  }

  .colOneOfTwo {
    @extend %col-placeholder;
    width: calc((100% - #{$gutter-margin}) / 2);
  }

  .colOneOfThree {
    @extend %col-placeholder;
    width: calc((100% - 2 * #{$gutter-margin}) / 3);
  }
  .colOneOfFour {
    @extend %col-placeholder;
    width: calc((100% - 3 * #{$gutter-margin}) / 4);
  }
}

.sectionTours {
  @include u.centerText;
  margin-top: -20vh;
  padding: 30rem 0 45rem 0;
  background-color: rgb(245, 245, 245);

  &_Title {
    display: inline-block;
    margin-bottom: 7.5rem;
    font-size: 4rem;
    color: transparent;
    text-transform: uppercase;
    background-image: linear-gradient(
      to right,
      darken($primary-color-lighter, 10%),
      $primary-color-darker
    );
    background-clip: text;
    transition: all 0.3s;

    &:hover {
      transform: skew(15deg, 3deg) scale(1.1);
    }
  }

  &_LeftContent {
    text-align: left;

    h3 {
      text-transform: uppercase;
      font-size: 2rem;
    }

    p {
      margin-bottom: 2.5rem;
    }
  }

  &_btn {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 1.8rem;
      font-weight: 600;
      color: $primary-color;
      border-bottom: 0.2rem solid;
      padding: 0.5rem;
      transition: all 0.3s;

      &:hover {
        background-color: $primary-color;
        color: $white;
        border-color: $primary-color;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
        transform: translateY(-3px);
      }

      &:active {
        transform: translateY(-1px);
        box-shadow: 0 0.7rem 1.2rem rgba(0, 0, 0, 0.15);
      }
    }
  }

  &_imgContainer {
    position: relative;

    [class*='img'] {
      width: 67%;
      transition: all 0.4s;
      position: absolute;
      z-index: 0;

      &:hover {
        outline: 1.4rem solid $primary-color;
        outline-offset: 1.8rem;
        box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.15);
        transform: scale(1.05) translateY(-3px);
        z-index: 1;
      }
    }

    &:hover [class*='img']:not(:hover) {
      transform: scale(0.95);
    }

    .imgOne {
      top: 0;
      left: 0;
    }
    .imgTwo {
      top: 6rem;
      right: -13rem;
    }
    .imgThree {
      top: 16rem;
      right: 10rem;
    }
  }
}

.featureCard {
  @include u.centerText;
  background-color: rgba($white, 0.8);
  border-radius: 1rem;
  box-shadow: 0 1.5rem 4.5rem rgba(0, 0, 0, 0.15);
  padding: 1rem;
  width: 25rem;
  height: 30rem;
  transition: all 0.5s;

  h3 {
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  &:hover {
    transform: translateY(-1rem) scale(1.01);
    box-shadow: 0 2rem 3.5rem rgba(0, 0, 0, 0.15);
  }
}

.features {
  height: 75vh;
  margin-top: -11rem;
  transform: skewY(-5deg);

  .row {
    transform: skewY(5deg);
  }

  // & > * {
  //   transform: skewY(7deg);
  // }
}

.icon {
  padding: 3rem 0 1.5rem 0;

  //   background-image: linear-gradient(
  //     to right,
  //     $primary-color-lighter,
  //     $primary-color-darker
  //   );
  //   display: inline-block;
  //   background-clip: ;
  //   path {
  //     stroke: transparent;
  //   }
}

.sectionPopularTours {
  @include u.centerText;
  background-color: rgb(245, 245, 245);
  padding: 30rem 0 20rem 0;
  margin-top: -11rem;
}

.flipCard {
  height: 50rem;
  position: relative;
  perspective: 150rem;

  &_Content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.9s ease;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba($black, 0.15);
    border-radius: 5px;
    overflow: hidden;

    &_Back {
      &.flipCard_First {
        background-image: linear-gradient(
          to right bottom,
          $color-orange-light,
          $color-orange-dark
        );
      }
      &.flipCard_Second {
        background-image: linear-gradient(
          to right bottom,
          $primary-color-lighter,
          $primary-color-darker
        );
      }
      &.flipCard_Third {
        background-image: linear-gradient(
          to right bottom,
          $color-blue-light,
          $color-blue-dark
        );
      }

      transform: rotateY(180deg);

      &_Cta {
        color: #fff;
        margin: 35% auto;

        :first-child {
          text-transform: uppercase;
          margin-bottom: 0.5rem;
        }

        &_Price {
          font-size: 6rem;
          font-weight: 100;
          margin-bottom: 6rem;
        }
      }
    }

    &_Image {
      position: relative;
      height: 45%;
      .flipCard_First & {
        background-image: linear-gradient(
          to right bottom,
          $color-orange-light,
          $color-orange-dark
        );
      }
      .flipCard_Second & {
        background-image: linear-gradient(
          to right bottom,
          $primary-color-lighter,
          $primary-color-darker
        );
      }
      .flipCard_Third & {
        background-image: linear-gradient(
          to right bottom,
          $color-blue-light,
          $color-blue-dark
        );
      }
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

      & img {
        mix-blend-mode: screen;
      }
    }

    &_Heading {
      position: absolute;
      top: 13rem;
      right: 1.5rem;
      text-transform: uppercase;
      text-align: right;
      font-size: 2.2rem;
      font-weight: 400;
      color: $white;
      width: 50%;

      span {
        padding: 1rem;
        box-decoration-break: clone;
      }

      .flipCard_First & span {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-orange-light, 0.8),
          rgba($color-orange-dark, 0.9)
        );
      }
      .flipCard_Second & span {
        background-image: linear-gradient(
          to right bottom,
          rgba($primary-color-lighter, 0.8),
          rgba($primary-color-darker, 0.9)
        );
      }
      .flipCard_Third & span {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-blue-light, 0.8),
          rgba($color-blue-dark, 0.9)
        );
      }
    }

    &_Details {
      width: 70%;
      margin: 0 auto;
      ul {
        margin-top: 2.75rem;
        list-style: none;
      }
      li {
        font-weight: 600;
        padding: 0.75rem;
        &:not(:last-child) {
          border-bottom: 1px solid $color-gray-light;
        }
      }
    }
  }

  &:hover &_Content_Front {
    transform: rotateY(-180deg);
  }
  &:hover &_Content_Back {
    transform: rotateY(0);
  }
}

.btnTour {
  margin-top: 10rem;
  color: #fff;
}

.sectionStories {
  @include u.centerText;

  position: relative;
  padding: 16rem 0;

  h2 {
    margin-bottom: 10rem;
  }
}

.storie {
  background-color: rgba(#fff, 0.5);
  width: 100rem;
  height: 22rem;
  padding: 4rem;
  margin: 0 auto;
  text-align: left;
  box-shadow: 0 1.5rem 4rem rgba($black, 0.15);
  margin-bottom: 8rem;

  & > * {
    transform: skewX(10deg);
  }
  transform: skewX(-10deg);
}

.imgContainer {
  position: relative;
  width: 15rem;
  height: 15rem;
  float: left;
  clip-path: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  margin-right: 2.5rem;
  z-index: 3;

  .authorName {
    position: absolute;
    color: #fff;
    z-index: 1;
    font-weight: 600;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  &:hover .authorName {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  img {
    transition: all 0.3s ease-in-out;
  }

  &:hover img {
    transform: scale(1.1);
    filter: blur(0.2rem) brightness(90%);
  }
}

.bgVideo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  opacity: 0.15;
  z-index: -2;

  &_Content {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.bookSection {
  height: 75vh;
  padding: 15vh 0 5vh 0;
  background-image: linear-gradient(
    to right bottom,
    $primary-color-lighter,
    $primary-color-darker
  );
}

.bookContainer {
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  width: 110rem;
  height: 60rem;
}

.bgGradient {
  background-image: linear-gradient(
    105deg,
    rgba($white, 0.8) 50%,
    transparent 50%
  );
  position: absolute;
  width: 100%;
  height: 100%;
}

.formContainer {
  width: 50%;
  height: 100%;
  position: absolute;
  padding: 3rem 2rem 3rem 2rem;
  h2 {
    margin-left: 4rem;
  }
}

/********** FORM **********/

.formGroup:not(:last-child) {
  margin-bottom: 2rem;
}

.formInput {
  display: block;
  font-size: inherit;
  border-radius: 3px;
  padding: 1.4rem;
  width: 80%;
  border: none;
  border-bottom: 3px solid transparent;

  &:focus {
    outline: none;
    border-bottom: 3px solid $primary-color-darker;
    box-shadow: 0 1rem 2rem rgba($black, 0.15);
  }
}

/******** END FORM ********/
